/* LISTS */
h5 + ul, h5 + ol{
  margin-top: 24px !important;
}
ul{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
  padding-left: 24px !important;
}
ol{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
  padding-left: 24px !important;
}

ul li, ol li {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    font-family: Roboto;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 8px;
    padding: 0;
    text-align: left;
    letter-spacing: 0.5px;
}
ul li:last-of-type, ol li:last-of-type {
    margin-bottom: 0px;
}
ul li {
    list-style-type: none;
}
ul li:before {
    content: "\2022";
    color: #333333;
    font-weight: 700;
    display: inline-block;
    width: 24px;
    margin-left: -24px;
}

ol li {
    list-style-type: none;
    counter-increment: li;
    display: table;
    margin-left: -24px;
}
ol li:before {
  content: counter(li) ".";
  width: 24px;
  color: #333333;    
  display: table-cell; 
}


h5 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #333333;
  text-align: left;
  display: block;
  margin: 0px;
}